/* @import url(./assets/styles/normalize.css); */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* color: #4cceac; */
body{
    background: #141b2d;
    color: white;
    font-family: "Inter", "Arial", sans-serif;
}
#page{
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
#sidebar{
    position: fixed;
    width: 420px;
    height: 100%; 
}
.sidebar-title{
    margin: 60px 0 8px;
    text-transform: uppercase;
    font-size: 30px;
    opacity: 0.8 !important;
}
.sidebar-subtitle{
    color: #94A3B8;
    font-size: 20px;
}
.sidebar-text span{
    margin-top: 10px;
    font-size: 18px;
    line-height: 28px;
    color: #94A3B8;
}
.sidebar-text{
    color: #94A3B8;
}
.function-based-values-demo .el, .second-circle, .third-circle{
transform: translateY(0px);
opacity: 0.5;
backdrop-filter: blur(100px);
position: absolute;
    width: 100px;
    height: 100px;
    background: #4cceac;
}
.sidebar-nav{
    margin: 40px 0px 50px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.sidebar-nav a{
    color: white;
    opacity: 0.4;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    align-items: center;
    column-gap: 8px;
    text-transform: uppercase;
    transition: .2s;
}
.sidebar-nav a::before{
    content: "";
    display: block;
    width: 35px;
    height: 1px;
    background: white;
    transition: .2s;
}
.sidebar-nav a:hover::before{
    width: 70px;
    background: #4cceac;
}
.sidebar-nav a:hover{
    opacity: 1;
    color: #4cceac;
}
.sidebar-socials{
    position: absolute;
    bottom: 7%;
    display: flex;
    column-gap: 20px;
}
.sidebar-socials a svg{
    height: 35px;
    width: 35px;
    opacity: 0.4;
}
#content{
    margin-left: calc(440px + 50px); 
    width: calc(100% - 490px); 
    overflow-y: auto; 
}
.sidebar-socials a svg{
    fill: white;
    transition: 0.2s;  
}
.sidebar-socials a:hover svg {
    fill:#4cceac; 
    opacity: 1;
    scale: 1.1;
}

.section-title{
    color: #94A3B8;
}
#about{
    margin-top: 60px;
}
.about__text{
    font-size: 16px;
    line-height: 1.625;
    color: #94A3B8;
}
.skill-box{
    padding: 2px 7px;
    color: #4cceac;
    font-weight: bold;
    background: #2DD4BF1A;
    border-radius: 5px;
}
.mark-box{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.intro__slider .slider__controls .slider__pagination {
    text-align: center;
}

.intro__slider .slider__controls .slider__pagination .swiper-pagination-bullet {
    width: 13px;
    height: 12px;
    display: inline-block;
    background: #4cceac;
    margin: 0 5px;
    border-radius: 20px;
    transition: opacity 0.5s, background-color 0.5s, width 0.5s;
    transition-delay: 0.5s, 0.5s, 0s;
}

.intro__slider .slider__controls .swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}

.intro__slider .slider__controls .slider__pagination .swiper-pagination-bullet-active {
    background: #4cceac;
    width: 50px;
    transition-delay: 0s;
}
.intro{
    max-width: 250px;
    margin: 0 auto;
}
.intro__content img{
    width: 350px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}
.experince-content{
    padding: 15px 5px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    column-gap: 0px;
    border-radius: 5px;
    transition: 0.1s ease-in;
}
.experience__content-date{
    max-width: 140px;
    font-size: 14px;
    color: #94A3B8;
    font-weight: 600;
    text-transform: uppercase;
}
.exprerince__content-desc{
    max-width: 500px;
}
.experince__desc-position{
    margin: 0 0 15px;
    color: #94A3B8;
    font-size: 20px;
}
.experience__desc-list li{
    color: #94A3B8;
    margin: 15px 0px;
}
.experince-content:hover {
    background: #94a3b81b;
}
.experince-content:hover h4{
    color: #4cceac;
}