@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* color: #4cceac; */
body{
    background: #000000;
    color: white;
    font-family: "Inter", "Arial", sans-serif;
    overflow-x: hidden;
}

#page{
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
#sidebar{
    position: fixed;
    width: 420px;
    height: 100%; 
}
.sidebar-title{
    margin: 60px 0 8px;
    text-transform: uppercase;
    font-size: 30px;
    opacity: 0.8 !important;
}
.sidebar-subtitle{
    color: #94A3B8;
    font-size: 20px;
}
.sidebar-text span{
    margin-top: 10px;
    font-size: 18px;
    line-height: 28px;
    color: #94A3B8;
}
.sidebar-text{
    color: #94A3B8;
}
.function-based-values-demo .el, .second-circle, .third-circle{
transform: translateY(0px);
opacity: 0.5;
backdrop-filter: blur(100px);
position: absolute;
    width: 100px;
    height: 100px;
    background: #BD1616;
}
.sidebar-nav{
    margin: 40px 0px 50px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.sidebar-nav a{
    color: white;
    opacity: 0.4;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    align-items: center;
    column-gap: 8px;
    text-transform: uppercase;
    transition: .2s;
}
.sidebar-nav a::before{
    content: "";
    display: block;
    width: 35px;
    height: 1px;
    background: white;
    transition: .2s;
}
.sidebar-nav a:hover::before{
    width: 70px;
    background: #BD1616;
}
.sidebar-nav a:hover{
    opacity: 1;
    color: #BD1616;
}
.sidebar-socials{
    position: absolute;
    bottom: 7%;
    display: flex;
    column-gap: 20px;
}
.sidebar-socials a svg{
    height: 35px;
    width: 35px;
    opacity: 0.4;
}
#content{
    margin-left: calc(440px + 50px); 
    width: calc(100% - 490px); 
    overflow: hidden; 
}
.sidebar-socials a svg{
    fill: white;
    transition: 0.2s;  
}
.sidebar-socials a:hover svg {
    fill:#BD1616; 
    opacity: 1;
    scale: 1.1;
}

.section-title{
    color: #94A3B8;
}
#about{
    margin-top: 60px;
}
.about__text{
    font-size: 16px;
    line-height: 1.625;
    color:#94A3B8 ;
}
.skill-box{
    padding: 2px 7px;
    color: #94A3B8;
    font-weight: bold;
    background: #2DD4BF1A;
    border-radius: 5px;
    margin:0px 5px;
    transition: 0.1s ease-in;
}
.mark-box{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.intro__slider .slider__controls .slider__pagination {
    text-align: center;
}
.intro{
    width: 100%;
}





.experince-content{
    padding: 25px 15px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    column-gap: 0px;
    border-radius: 5px;
    transition: 0.1s ease-in;
}
.experience__content-date{
    max-width: 140px;
    font-size: 14px;
    color: #FFE6E6;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.1s ease-in;
}
.exprerince__content-desc{
    max-width: 500px;
}
.experince__desc-position{
    margin: 0 0 15px;
    color: #FFE6E6;
    font-size: 20px;
}
.experience__desc-list li{
    color: #FFE6E6;
    margin: 15px 0px;
}
.experince-content:hover {
    background: #94a3b81b;
}
.experince-content:hover h4{
    color: #BD1616;
}
.experince-content:hover .skill-box{
    color: #BD1616;
}
.experince-content:hover .experience__content-date{
    color: #BD1616;
}

.project-card{
    margin: 20px 0px;
    display: flex;
    align-items: start;
    column-gap: 50px;
    text-decoration: none;
    padding: 15px;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}
.project-card img{
    max-width: 200px;
    border-radius: 4px;
}
.project__card-title{
    margin: 0;
    color: #afbdd0;
}
.project__card-desc{
    color: #94A3B8;
}
.project-card:hover{
    background: #94a3b81b;
}
.project-card:hover img{
    opacity: 0.8;
}
.project__card-tech span{
    padding: 4px 10px;
    color: white;
    font-size: 12px;
    background: #4cceab17;
    border-radius: 20px;
}


#spotlight {
    position: absolute;
    z-index: -999;
    width: 300px;
    height: 300px;
    background-color: #9a262660;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: all 0.01s ease-out;
    filter: blur(150px); 
    will-change: transform, width, height;
    mix-blend-mode: difference;
    user-select: none;
    touch-action: none;
  }